@import '~src/style/color/color';
@import '~src/style/layout/field';

@mixin clickable() {
  color: $buttonColor;
  &:hover {
    color: $buttonHoverColor;
    cursor: pointer;
  }
}

@mixin mouse-down() {
  &:active:hover {
    color: darken($buttonColor, 20%);
  }
}

@mixin hover-border() {
  border: 1px dotted darken($buttonColor, 25%);
  border-radius: $baseBorderRadius;
}

@mixin selected-border() {
  border: 1px dotted #eeeeee;
  border-radius: $baseBorderRadius;
}

@mixin base-button() {
  border: none;
  background-color: transparent;
  color: $buttonColor;
  &:hover {
    color: $buttonHoverColor;
  }
  &:active:hover {
    color: darken($buttonColor, 20%);
  }
}
