@import '~src/style/color/color';
@import '~src/style/layout/field';

@mixin clickable() {
  color: $buttonColor;
  fill: $buttonColor;
  stroke: $buttonColor;
  &:hover {
    color: $buttonHoverColor;
    fill: $buttonHoverColor;
    stroke: $buttonHoverColor;
    cursor: pointer;
  }
  &:active:hover {
    color: darken($buttonColor, 15%);
    fill: darken($buttonColor, 15%);
    stroke: darken($buttonColor, 15%);
  }
}

@mixin clickable-border() {
  border: 1px solid $buttonColor;
  border-radius: $baseBorderRadius;
  &:hover {
    border: 1px solid $buttonHoverColor;
  }
  &:active:hover {
    border: 1px solid darken($buttonColor, 35%);
  }
}

@mixin mouse-down() {
  &:active:hover {
    color: darken($buttonColor, 20%);
  }
}

@mixin hover-border() {
  border: 1px dotted darken($buttonColor, 25%);
  border-radius: $baseBorderRadius;
}

@mixin selected-border() {
  border: 1px dotted #eeeeee;
  border-radius: $baseBorderRadius;
}

@mixin base-button() {
  border: none;
  background-color: transparent;
  color: $buttonColor;
  &:hover {
    color: $buttonHoverColor;
  }
  &:active:hover {
    color: darken($buttonColor, 20%);
  }
}
