@import '../../../style/color/color';

.icon {
  width: 60px;
}

.icon-container {
  stroke: $accentColor;
  fill: $accentColor !important;
  color: $accentColor;
  &:hover {
    stroke: $buttonHoverColor;
    fill: $buttonHoverColor !important;
    color: $buttonHoverColor;
    border: 1px solid $buttonHoverColor;
  }
  border: 1px solid $accentColor;
  border-radius: 3px;
  padding: 5px;
  margin: 10px 10px;
  justify-content: center;
}

.icon-caption {
  font-size: 0.75em;
  text-align: center;
}

