@import '../../../../style/color/color';
@import "../../../../style/layout/clickable";

.icon {
  width: 60px;
}

.icon-container {
  @include clickable;
  @include clickable-border;
  padding: 5px;
  margin: 10px 10px;
  justify-content: center;
}

.icon-caption {
  font-size: 0.75em;
  text-align: center;
}

